.header {
    background-color: #f9f5f3;
    grid-area: head;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.header__logo {
    height: 4.6rem;
    margin-left: 4rem;
    display: block;
}
.search {
    background-color: #fff;
    border-radius: 10rem;
    align-items: center;
    padding-left: 3rem;
    transition: all .3s;
    display: flex;
}
.search__field {
    color: inherit;
    width: 30rem;
    background: 0 0;
    border: none;
    font-family: inherit;
    font-size: 1.7rem;
}
.search__btn{
    
    font-family: inherit;
    font-weight: 600
}

.btn {
    padding: 1.5rem 4rem;
    font-size: 1.5rem;
    font-weight: 600;
}