.container {
  max-width: 120rem;
  min-height: 117rem;
  background-color: #fff;
  border-radius: 9px;
  grid-template:
    "head head" 10rem
    "list recipe" minmax(100rem, auto) / 1fr 2fr;
  margin: 4vw auto;
  display: grid;
  overflow: hidden;
  box-shadow: 0 2rem 6rem 0.5rem #61555133;
}
